.button1 {
    background-color: transparent;
    border: none;
    color: white;
    height: 25px;
    font-size: 11px;
    border-left: 1px solid #626a72;
    border-top: none;
    margin-left: 10px;
}

.button1:hover {
    background-image: linear-gradient(rgb(30, 45, 55), rgb(1,1,1));
}

.row1 {
    height: 70%;
    background-image: linear-gradient(rgb(45, 56, 65), rgb(1, 12, 22));
    width: 100%;
    border-radius: 0%;
    height: 25px;
}

.col {
    padding: 0px;
    height: 50%;
}

.btn {
    background-color: transparent;
    border: none;
    color: white;
    height: 25px;
    font-size: 10px;
    border-left: 1px solid #626a72;
    border-top: none;
}

.button2 {
    background-color: #ffc600;
    border: none;
    color: black;
    height: 25px;
    font-size: 10px;
    border-left: 1px solid #626a72;
    border-top: none;
}

.button2:hover {
    background-image: linear-gradient(rgb(30, 45, 55), rgb(1,1,1));
}

.image {
    height: 30px;
    width: 30px;
}

.boutton {
    display: inline-block;
}

.container{
   float: left;
   width: 25%;
   margin-top: 5px;
   padding: 0;
   margin-left: 125px;
   width: 230px;
   height: 22px;
}

header {
   min-height:25px;
   background-color: white;
}

.row2 {

    height: 50px;

}

  

#recherche {

    width:208px;

    height:24px;

    background: #F7F7F7;

    box-shadow:1px 1px 2px rgba(0,0,0,.3) inset;

    border-radius: 4px;

    margin-top: 12px;

}

  

#recherche .loupe {

    background:url(images/loupe.png) no-repeat 0 0;

    width:24px;

    margin-top: 4px;

    margin-left: 4px;

}

  

#recherche input {

    outline:0;

    border:0;

    margin:0;

    height:24px;

    float:left;

    display:block;

}

  

#recherche input[type=text] {

    font:300 12px HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    background:none;

    width:180px;

    padding:0 9px;

    color:#666;

}

.col-md-7 {

    padding: 0px;

}

.imageicone {

    height: 20px;

    width: 20px;

    background-color: white;

    margin-top: 12px;

    border-radius: 20%;

    margin-right: 3px;

    float: right;

}

.divtxtnav {

    margin-top: 12px;

        float: right;

}

.txtnav {

    color: #747b83;

    margin-right: 15px;

}

.imgtxtnav {

    width: 12px;

    height: 12px;

    margin-right: 5px;

}


img {
    display: block;
    width: 260px;
    height: 70px;
    margin: 13px auto 5px;
}


.btn3 {
    display: block;
    width: 12%;
    height: 40px;
    margin: -18px auto 0px;
    font-size: 10px;
    border: none;
    background-color: white;
    color: grey;
    margin-left: 570px;
}

.caret {
    margin-right: 10px;
}

.button3 {
    background-color: white;
    border: none;
    color: black;
    height: 100%;
    font-size: 11px;
    border-left: 1px solid #626a72;
    border-top: none;
    margin-left: 10px;
}

#nav.acceuil {
    border-top: 3px solid #D2D6DB;
}

.conteneur_bordure {
    width: 100%;
    margin: -3px auto 0px;
    border-top: 3px solid #D2D6DB;
    font-size: 1.3rem;
    line-height: 140%;
    font-family: Helvetica,Arial,FreeSans,sans-serif;
    color: #16212c;
    padding-left: 210px;
    border-bottom: 1px solid #D2D6DB;   
    height: 32px;
}

ul {
    width: 998px;
    display: inline-block;
    margin-top: -3px;
    overflow: hidden;
    width: 1000px;
    margin: -3px auto 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-size: 1.3rem;
    line-height: 140%;
    font-family: Helvetica,Arial,FreeSans,sans-serif;
    color: #16212c;
}

#nav ul {
    padding: 0;
}

#nav li {
    display: block;
    float: left;
    border-top-width: 3px;
    border-top-style: solid;
    text-align: center;
    margin-right: 2px;
    box-sizing: border-box;
    height: 100%;
    border-left: 1px solid #D2D6DB;
    padding: 5px;
}

.accueil {
    border-top-color: #A2A9AE;
    font-weight: bold;
}

.international {
    border-top-color: #0386C3;
    font-weight: bold;
}

.poitique {
    border-top-color: #1F0D67;
    font-weight: bold;
}

.societe {
    border-top-color: #D50303;
    font-weight: bold;
}

.eco {
    border-top-color: #FE2F2F;
    font-weight: bold;
}

.culture {
    border-top-color: #F20559;
    font-weight: bold;
}

.idees {
    border-top-color: #2E3942;
    font-weight: bold;
}

.planete {
    border-top-color: #30932E;
    font-weight: bold;
}

.sport {
    border-top-color: #6FAA12;
    font-weight: bold;
}

.sciences {
    border-top-color: #0CB4AE;
    font-weight: bold;
}

.pixel {
    border-top-color: #06B586;
    font-weight: bold;
}

.campus {
    border-top-color: #FF6E17;
    font-weight: bold;
}

.le_mag {
    border-top-color: #2E3942;
    font-weight: bold;
}

.abonnes {
    border-top-color: #CCAA00;
    background-color: #FFC600;
    font-weight: bold;
}

#iconehome {
    display: block;
    width: 12px;
    height: 15px;
    margin-top: 0px;
}


html, body {
    background-color: #E9EDF0
}

#pub {
    font-size: 1.3rem;
    line-height: 140%;
}

#en_ce_moment {
    height: 33px;
    margin-top: 16px;
    overflow: hidden;
    background: #2d3143;
    background: linear-gradient(#2d3143, #10141d);
    width: 990px;
    display: inline-block;
}

.conteneur_haut {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 3px;
    box-sizing: border-box;
    display: block;
    font-size: 1.3rem;
    line-height: 140%;
    font-family: Helvetica,Arial,FreeSans,sans-serif;
    color: #16212c;
    margin-left: 210px;
}

#en_ce_moment ul {
    padding: 0 13px 0 0;
    list-style-type: none;
    width: 990px;
    display: inline-block;
    margin-top: -3px;
    overflow: hidden;
    width: 1000px;
    margin: -3px auto 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.3rem;
    line-height: 140%;
    font-family: Helvetica,Arial,FreeSans,sans-serif;
    color: white;
    font-weight: bold;
}

li.en_ce_moment {
    background: url("../images/sous_nav.png") no-repeat right -70px;
    padding: 0 13px 0 5px;
    line-height: 36px;
}

.second {
    font-size: 13px;
    margin-right: 5px;
}

.une {
    padding: 20px 0 0px;
    background-color: white;
    box-shadow: 0 6px 6px -6px rgba(22,33,44,0.2);
    margin-bottom: 20px;
    overflow: hidden;
    width: 990px;
    margin: 0 auto;
    z-index: 1;
    margin: -3px auto 0;
    margin-left: 210px;
    height: 1918px;
}

.container_18 {
    display: block;
    margin: 0 13px;
    width: 110%;
    box-sizing: border-box;
    font-size: 1.3rem;
}

h1 {
    color: #003366;
    float: left;
    font-size: 30px;
    margin-top: 0px;
    margin-left: -20px;
    font-weight: bold;
}

#content {
    width: 1000px;
    height: 1930px;
    background-color: white;
}


.imageprincipale {
    width: 630px;
    float: left;
    height: 322px;
    margin-left: -17px;
}

.entete {
    padding: 0 0px;
    background: #d50303;
    color: #fff;
    line-height: 25px;
    font-size: 16px; 
    font-weight: bold;
    padding-left: 8px;
    margin-top: 8px;
    margin-bottom: 3px;
}   

h3 {
    margin-top: 0px;
}

.heure {
    display: block;
    padding-left: 10px;
    border: 1px solid #eef1f5;
    width: 294px;
    padding-top: 4px;
}

.mots {
    margin-bottom: 8px;
    color: #003366;
    font-size: 13px;
}

.minifooter {
    height: 25px;
    padding: 4px 15px 0;
    text-align: left;
    background: #eef1f5;
    border: 1px solid #eef1f5;
    width: 294px;
}

.tte {
    font-size: 12px;
    font-weight: bold;
    color: #003366;
    padding-top: 0px;
}

.btn_petit {
    padding: 0 5px 2px;
    font-size: 10px;
    line-height: 16px;
    color: #747b83;
    background-color: #e9edf0;
    border-color: #c6c9cc;
    border-radius: 3px;
    height: 17px;
    margin-top: 2px;
    margin-left: 20px;
}

.unslash {
    padding: 0 5px 2px;
    font-size: 10px;
    line-height: 16px;
    color: #747b83;
    height: 17px;
    margin-top: 2px; 
}

.btn_petit2 {
    padding: 0 5px 2px;
    font-size: 10px;
    line-height: 16px;
    color: #747b83;
    background-color: #e9edf0;
    border-color: #c6c9cc;
    border-radius: 3px;
    height: 17px;
    margin-top: 2px;
}

.imagepub {
    width: 295px;
}
